# Dependencies
node_modules/

# Production builds
dist/
build/

# Environment files
.env
.env.local

# Testing / Coverage
coverage/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
